*{
    margin: 0 15px;
    padding: 10px 0;
}
header{
    background-color: #e1e2eb;
    color:white
}
body{
    background-color: #383d58;
    color:white
}
.cabecalho-imagem{
    width: 24%;

}
.cabecalho{
    background-color: #383d58;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 21px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
.escola-imagem{
 width: 75%;

}